@use "variables" as *;
.Menu {
    background-color: $White;
    height: 100%;

    @media (max-width: $md) {
        .HorizontalList {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 0;
            position: sticky;
            top: 0;
        }
        
        .MuiListItemText-root{
            display: none;
        } 
        .MuiListItemButton-root {
            justify-content: center;
            padding-left: 0;
            padding-right: 0;
        }
        .MuiListItemIcon-root {
            justify-content: center;
        }
        .MuiListItemAvatar-root {
            display: flex;
            justify-content: center;
        }
        
    }
}