@use "variables" as *;



.TabContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ProfileContainer {
    background-color: $White;
    border-radius: 10px;
    padding: 1rem;
    align-items: center;
    .Info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .BioContainer {
        padding: 1rem;
    }
    .Hide {
        display: none;
    }
    .Tabs {
        width: 100%;
    }
}
